{{ define "main" }}
<div class="h-screen flex">
    <div class="text-center md:m-auto mx-auto m-20 md:p-0">
        <h1 class="text-6xl font-extrabold">{{ .Site.Title }}</h1>
        <img class="mx-auto rounded-full md:p-10 p-5" src="https://s.gravatar.com/avatar/{{ .Site.Params.GravatarId }}?s=400">
        <div class="w-full md:w-2/3 text-xl flex flex-col md:flex-row md:gap-5 flex-wrap m-auto justify-center font-bold">
            {{ range .Site.Params.Keywords}}
            <span>{{ . | title }}</span>
            {{ end }}
        </div>
        <div class="flex flex-wrap">
            {{ range .Site.Menus.main }}
            <a href="{{ .URL }}">
                <div>{{ .Name }}</div>
            </a>
            {{ end }}
        </div>
        <div class="text-center my-10">
            <h1 class="text-2xl">Find me on the internet</h1>
            <div class="flex gap-5 md:gap-7 justify-center mx-auto my-5">
                {{ range .Site.Menus.socials}}
                <a class="text-2xl md:text-3xl hover:text-gray-400 dark:hover:text-gray-300 dark:text-gray-50" href="{{ .URL }}">{{ .Pre }}</a>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}