{{ define "main" }}
    <div class="sm:container md:max-w-4xl mx-auto sm:p-12 p-10">
    <h1 class="text-center text-3xl font-bold">{{ .Title }}</h1>
    {{ range .Pages.ByPublishDate.Reverse }}
        <div class="p-5">
            <div class="py-3">
                <a class="text-2xl font-medium" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </div>
            <a href="{{ .RelPermalink }}">
                <p>{{.Summary}}</p>
            </a>
            <div class="flex justify-between mt-3">
                <div >
                    {{ partial "metadata" . }}
                </div>
                <a href="{{ .RelPermalink }}">
                    <button class=" my-auto bg-transparent font-semibold border py-1 px-3 rounded text-gray-400 border-gray-400 hover:text-white hover:bg-gray-400">
                        Read
                    </button>
                </a>
            </div>
            <hr class="mt-3">
        </div>
    {{ end }}
    </div>
{{ end }}