{{ define "main" }}
<div class="sm:container md:max-w-4xl mx-auto sm:p-12 p-10">
  <h1 class="text-3xl font-bold text-center">Contact Me</h1>
  <div class="m-24">
    <form action="{{ .Site.Params.GetFormEndpoint }}" method="POST">
      <input type="hidden" id="captchaResponse" name="g-recaptcha-response">
      <div class="sm:rounded-md sm:overflow-hidden">
        <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
          <div class="grid grid-cols-3 gap-6">
            <div class="col-span-3 sm:col-span-2">
              <label
                for="email"
                class="block text-lg font-medium text-gray-700"
                required
              >
                Email
              </label>
              <div class="mt-1 flex rounded-md shadow-lg p-2 border-gray-100 border">
                <input
                  type="email"
                  name="email"
                  id="email"
                  required
                  minlength="10"
                  class="
                    p-1
                    flex-1
                    block
                    w-full
                    rounded-none rounded-r-md
                    sm:text-sm
                    border-gray-300
                  "
                  placeholder="john.doe@example.com"
                />
              </div>
            </div>
          </div>

          <div>
            <label for="message" class="block text-lg font-medium text-gray-700">
              Message
            </label>
            <div class="mt-1 rounded-md shadow-lg p-2 border-gray-100 border">
              <textarea
                id="message"
                name="message"
                rows="10"
                class="
                  p-1
                  shadow-sm
                  mt-1
                  block
                  w-full
                  sm:text-sm
                  rounded-md
                "
                placeholder="Your message here..."
              ></textarea>
            </div>
          </div>

        </div>
        <div class="px-4 py-3 text-right sm:px-6">
          <button
            type="submit"
            class="
              inline-flex
              justify-center
              py-2
              px-4
              border border-transparent
              shadow-sm
              text-sm
              font-medium
              rounded-md
              text-white
              bg-gray-500
              hover:bg-gray-700
              focus:outline-none
              focus:ring-2
              focus:ring-offset-2
              focus:ring-gray-500
            "
          >
            Send
          </button>
        </div>
        <p class="text-xs font-light w-4/5 mx-auto">
          This site is protected by reCAPTCHA and the Google
          <a class="text-blue-500" href="https://policies.google.com/privacy">Privacy Policy</a> and
          <a class="text-blue-500" href="https://policies.google.com/terms">Terms of Service</a> apply.
        </p>
      </div>
    </form>
  </div>
</div>

<script defer src="https://www.google.com/recaptcha/api.js?render={{ .Site.Params.reCaptchaKey }}"></script>
<script defer>
    grecaptcha.ready(function() {
        grecaptcha.execute('{{ .Site.Params.ReCaptchaKey }}', {action: 'homepage'})
        .then(function(token) {
          document.getElementById('captchaResponse').value = token;
        });
      });
</script>
{{ end }}
